@{
    Layout = null;
    ViewData["Title"] = "Confirmación";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/MantenimientoPersonas.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-5.2.3-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/css/jquery-confirm.css" rel="stylesheet" asp-append-version="true" />
</head>
<!--Scripts-->
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-5.2.3-dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js" asp-append-version="true"></script>
<script src="~/lib/input-mask/jquery.inputmask.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-confirm/js/jquery-confirm.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/2d70f210f1.js" crossorigin="anonymous"></script>
<script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
<script src="~/js/correoconfirmado.js" asp-append-version="true"></script>