@model MantenimientoPersonas.Models.PersonaRelacionadaModel


<section>
    <div>
        <table id="tblpersonasr" class="display cell-border stripe" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">NÚMERO DE DOCUMENTO</th>
                    <th scope="col">PRIMER NOMBRE</th>
                    <th scope="col">SEGUNDO NOMBRE</th>
                    <th scope="col">PRIMER APELLIDO</th>
                    <th scope="col">SEGUNDO APELLIDO</th>
                    <th scope="col">FECHA NACIMIENTO</th>
                    <th scope="col">ROLES</th>
                    <th scope="col">CORREO ELECTRÓNICO</th>
                    <th scope="col">TELÉFONO</th>
                    <th scope="col">TIPO PAGO</th>
                    <th scope="col">NÚMERO CUENTA</th>
                    <th scope="col">ENTIDAD BANCARIA</th>
                    <th scope="col">PAIS</th>
                    <th scope="col">PROVINCIA</th>
                    <th scope="col">CIUDAD</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tblpersonasrbody">
            </tbody>
        </table>
    </div>
</section>
<!-- Modal Principal PR-->
<div class="modal fade" id="modalprincipalpr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="lblmodalprincipal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 id="lblmodalprincipal" class="modal-title fs-5">Agregar nueva persona relacionada</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <!-- Modal Cuerpo -->
            <div class="modal-body">
                <form id="cuerpomodalprincipalpr" class="row g-3">
                    <div class="col-md-6">
                        <label for="cbtipodocumentopr" class="form-label">Tipo de documento</label>
                        <select id="cbtipodocumentopr" name="cbtipodocumentopr" class="form-select" required>
                            <option value="CÉDULA">CÉDULA</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="txtnumerodocumentopr" class="form-label">Número de documento</label>
                        <input id="txtnumerodocumentopr" type="text" class="form-control" name="txtnumerodocumentopr" required>
                    </div>
                    <div class="col-md-6">
                        <label for="txtprimernombrepr" class="form-label">Primer nombre</label>
                        <input id="txtprimernombrepr" type="text" class="form-control" name="txtprimernombrepr" required>
                    </div>
                    <div class="col-md-6">
                        <label for="txtsegundonombrepr" class="form-label">Segundo nombre</label>
                        <input id="txtsegundonombrepr" type="text" class="form-control" name="txtsegundonombrepr">
                    </div>
                    <div class="col-md-6">
                        <label for="txtprimerapellidopr" class="form-label">Primer Apellido</label>
                        <input id="txtprimerapellidopr" type="text" class="form-control" name="txtprimerapellidopr" required>
                    </div>
                    <div class="col-md-6">
                        <label for="txtsegundoapellidopr" class="form-label">Segundo Apellido</label>
                        <input id="txtsegundoapellidopr" type="text" class="form-control" name="txtsegundoapellidopr">
                    </div>
                    <input type="hidden" name="txtpersonarid" id="txtpersonarid">
                    <div class="col-md-6">
                        <label for="dpfechanacimientopr" class="form-label">Fecha de nacimiento</label>
                        <input id="dpfechanacimientopr" name="dpfechanacimientopr" class="form-control" type="date" />
                    </div>
                    <div class="col-md-6">
                        <label for="txtemailpr" class="form-label">Correo Electrónico</label>
                        <input id="txtemailpr" type="email" class="form-control" name="txtemailpr">
                    </div>
  
                    <div class="col-12 text-center">
                        <label class="form-check-label">Roles</label>
                        <div class="scrollable-div-r">
                            <ul id="listaRoles" class="list-group">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="cbtipotelefonopr" class="form-label">Tipo de teléfono</label>
                        <select id="cbtipotelefonopr" name="cbtipotelefonopr" class="form-select" required>
                            <option value="TELÉFONO CELULAR">TELÉFONO CELULAR</option>
                            <option value="TELÉFONO FIJO">TELÉFONO FIJO</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="txttelefonopr" class="form-label">Número de teléfono</label>
                        <input id="txttelefonopr" type="tel" class="form-control" name="txttelefonopr" required>
                    </div>

                    <div class="col-md-6">
                        <label for="cbtipopago" class="form-label">Tipo de pago</label>
                        <select id="cbtipopago" name="cbtipopago" class="form-select" required>
                            <option value="CORRETAJE">CORRETAJE</option>
                            <option value="CHEQUE">CHEQUE</option>
                            <option value="DESEMBOLSO">DESEMBOLSO</option>

                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="txtnumerocuentapr" class="form-label">Número de cuenta</label>
                        <input id="txtnumerocuentapr" type="text" class="form-control" name="txtnumerocuentapr" required>
                    </div>
                    <div class="col-md-6">
                        <label for="cbentidadbancaria" class="form-label">Entidad bancaria</label>
                        <select id="cbentidadbancaria" name="cbentidadbancaria" class="form-select" required>

                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cbpais" class="form-label">Pais</label>
                        <select id="cbpais" name="cbpais" style="width: 100%;" class="form-select"></select>

                    </div>
                    <div class="col-md-6">
                        <label for="cbprovincia" class="form-label">Provincia</label>
                        <select id="cbprovincia" name="cbprovincia" style="width: 100%;" class="form-select"></select>
                    </div>
                    <div class="col-md-6">
                        <label for="cbciudad" class="form-label">Ciudad</label>
                        <select id="cbciudad" name="cbciudad" style="width: 100%;" class="form-select"></select>
                    </div>
                    <div class="modal-footer">
                        <button id="btncancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnguardar" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<script src="~/js/personarelacionada.js" asp-append-version="true"></script>
