@model MantenimientoPersonas.Models.PersonaModel

@{
    ViewData["Title"] = "Personas";
}
@{
    ViewData["TitleView"] = "Mantenimiento de personas";
}
<section>
    <div>

        <table id="tblpersonas" class="display" style="width:100%">
            <thead>
                <tr>
                    <th style="{ white-space: nowrap; }" class="">NÚMERO DOCUMENTO</th>
                    <th class="">PRIMER NOMBRE</th>
                    <th class="">SEGUNDO NOMBRE</th>
                    <th class="">PRIMER APELLIDO</th>
                    <th class="">SEGUNDO APELLIDO</th>
                    <th class="">GÉNERO</th>
                    <th class="">MAYORIA EDAD</th>
                    <th class="">NÚMERO TELÉFONO</th>
                    <th class="">ACCIONES</th>
                </tr>
            </thead>
            <tbody id ="tblpersonasbody">
            </tbody>
        </table>
    </div>
</section>
<!-- Modal Principal -->
<div class="modal fade" id="modalprincipal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="lblmodalprincipal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 id="lblmodalprincipal" class="modal-title fs-5">Agregar nueva persona</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <!-- Modal Cuerpo -->
            <div class="modal-body">
                <form id="cuerpoModalPrincipal" class="row g-3">
                    <div class="col-md-6">
                        <label for="cbtipodocumento" class="form-label">Tipo de documento</label>
                        <select id="cbtipodocumento" name="cbtipodocumento" class="form-select" required>
                            <option value="CÉDULA">CÉDULA</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="txtnumerodocumento" class="form-label">Número de documento</label>
                        <input id="txtnumerodocumento" type="text" class="form-control" name="txtnumerodocumento" required>
                    </div>
                    <div class="col-md-6">
                        <label for="txtprimernombre" class="form-label">Primer nombre</label>
                        <input id="txtprimernombre" type="text" class="form-control" name="txtprimernombre" required>
                    </div>
                    <div class="col-md-6">
                        <label for="txtsegundonombre" class="form-label">Segundo nombre</label>
                        <input id="txtsegundonombre" type="text" class="form-control" name="txtsegundonombre">
                    </div>
                    <div class="col-md-6">
                        <label for="txtprimerapellido" class="form-label">Primer Apellido</label>
                        <input id="txtprimerapellido" type="text" class="form-control" name="txtprimerapellido" required>
                    </div>
                    <div class="col-md-6">
                        <label for="txtsegundoapellido" class="form-label">Segundo Apellido</label>
                        <input id="txtsegundoapellido" type="text" class="form-control" name="txtsegundoapellido">
                    </div>
                    <input type="hidden" name="txtpersonaid" id="txtpersonaid">
                    <div class="col-md-6">
                        <label for="cbtipotelefono" class="form-label">Tipo de teléfono</label>
                        <select id="cbtipotelefono" name="cbtipotelefono" class="form-select" required>
                            <option value="TELÉFONO CELULAR">TELÉFONO CELULAR</option>
                            <option value="TELÉFONO FIJO">TELÉFONO FIJO</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="txttelefono" class="form-label">Número de teléfono</label>
                        <input id="txttelefono" type="tel" class="form-control" name="txttelefono" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Mayoría de edad</label>
                        <div class="form-check">
                            <input id="ckmayoriaedad" name="ckmayoriaedad" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="ckmayoriaedad">
                                Mayor de edad
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Sexo</label>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rbtngenero" id="rbtngeneromasculino" value="MASCULINO" checked>
                            <label class="form-check-label" for="rbtngeneromasculino">
                                MASCULINO
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rbtngenero" id="rbtngenerofemenino" value="FEMENINO">
                            <label class="form-check-label" for="rbtngenerofemenino">
                                FEMENINO
                            </label>
                        </div>
                    </div>
                <br/>
                <div class="col-12 text-center">
                    <h5 class="form-check-label">Personas relacionadas</h5>
                    <div class="scrollable-div border p-3">
                        <ul id="listapersonasrelacionadas" class="list-group">
                        </ul>
                    </div>
                    <br />
                    <button id="btnmantenimientopersonare" type="button" class="btn btn-success" onclick="abrirMantenimientoPersonasRe();">
                        Mantenimiento de personas relacionadas
                    </button>
                </div>
                    <div class="modal-footer">
                        <button id="btncancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnguardar" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
</div>
<!-- Modal PersonasRelacionadas -->
<div id="modalmostrarpersonasrelacionadas" class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="lblmodalmostrarpersonasrelacionadas" class="modal-title fs-5" id="staticBackdropLabel">Mantenimiento de personas relacionadas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Cuerpo -->
            <div id="cuerpomodalmostrarpersonasrelacionadas" class="modal-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/persona.js" asp-append-version="true"></script>
}
