<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MantenimientoPersonas.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-5.2.3-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <link href="~/lib/select2/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/datatables.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/jquery-confirm/css/jquery-confirm.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="bg-gray-100 dark:bg-gray-900">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="~/resources/images/logodotnet.png" width="40" height="40" class="bi  me-2" />
                <span class="fs-4">ASP.NET Core MVC + jQuery</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Inicio</a></li>
                <li class="nav-item">
                    <a asp-controller="Persona" asp-action="Index" class="nav-link" aria-current="page">Personas</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="PersonaRelacionada" asp-action="Index" class="nav-link" aria-current="page">Personas Relacionadas</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <br /><br /><br /><br />
            <h2 class="text-center">@ViewData["TitleView"]</h2>
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2024 - Mantenimiento de Personas - Elimelet Caraballo
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-5.2.3-dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/select2/select2.full.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js" asp-append-version="true"></script>

<script src="~/lib/input-mask/jquery.inputmask.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/moment.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-confirm/js/jquery-confirm.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/2d70f210f1.js" crossorigin="anonymous"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
