.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
#btnpassword:focus {
    outline: none;
    box-shadow: none;
}

#btnpassword:hover {
    background-color: transparent;
    border-color: transparent;
}